                <div id="faq" class="vc_row wpb_row vc_row-fluid faq_area animated a_fu">
                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-7" style="margin-top: 20px; margin-bottom: 20px;">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="vc_empty_space"  style="height: 30px" >
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <div class="section_title no-bottom-margin animated None" data-delay="0.2s">
                                    <div style="color: #333333; font-size: 15px; text-align: left; line-height: 26px; font-weight: 400;">
                                        <p></p>
                                    </div>
                                </div>
                                <h3 class="section_title h1 animated   None" data-delay="0.2s" style="color: #333333; text-align: left; font-weight: 300;">Как сделать заказ</h3>
                                <div class="vc_row wpb_row vc_inner vc_row-fluid faq">
                                    <div class="wpb_column vc_column_container vc_col-sm-6">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="single_faq">
                                                    <div class="h4">1. Фото</div>
                                                    <p>Cфотографируйте ваши награды или отсканируйте удостоверения сканером в нужном порядке размещения на планке.</p>
                                                </div>
                                                <div class="single_faq" style="margin-top: 20px;">
                                                    <div class="h4">3. Ламинирование</div>
                                                    <p>Нужно ли разместить каждый ряд планок под прозрачную пленку (только при изготовлении из муаровой ленты. При технологии без тканевых лент планка покрывается холодным ламинированием.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-6">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="single_faq">
                                                    <div class="h4">2. Крепление</div>
                                                    <p>Выберите вариант крепления: на заколке, на клипсах, на липучке или на магнитах.</p>
                                                </div>
                                                <div class="single_faq">
                                                    <div class="h4">4. Отправка заказа</div>
                                                    <p>Фотографии, а также необходимую информацию, отправьте удобным для вас способом (WhatsApp, Wiber) на тел. 8-922- 800-0506 или на E-mail: vkmir@mail.ru</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-5">
                        <div class="wpb_wrapper">
                            <div class="vc_empty_space"  style="height: 30px" >
                                <span class="vc_empty_space_inner"></span>
                            </div>
                            <div class="newsletter">
                                <h3 class="section_title h3 animated   None" data-delay="0.2s" style="color: white; text-align: left; font-weight: 300; margin-bottom:30px;">Оплата и доставка заказа</h3>
                                <div style="size: 16px; color: white; opacity: 1;">
                                    <p><i class="fa fa-info fa-lg" aria-hidden="true" style="margin: 5px;"></i> После получения информации нами будет предоставлена подробная смета заказа с указанием реквизитов для оплаты.</p>
                                    <p><i class="fa fa-rub fa-lg" aria-hidden="true" style="margin: 5px;"></i> После оплаты выставленного счета, заказ будет изготовлен и отправлен в течении 3 рабочих дней. Стоимость услуг почты будет включена в стоимость заказа. Отправка производится через Почту России 1 классом в пластиковом конверте. При сумме заказа более 2000 руб. - доставка бесплатно.</p>
                                    <p><i class="fa fa-paper-plane fa-lg" aria-hidden="true" style="margin: 5px;"></i> После отправки Вам будет предоставлен трек-номер письма для отслеживания.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>