                <div id="features" class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="vc_empty_space"  style="height: 100px" >
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <h1 class="section_title h1 animated fadeInUp" data-delay="0.2s" style="color: #333333; text-align: center; font-weight: 300;">Здесь вы можете сделать заказ на изготовление <br />медальных и орденских планок на любые награды.</h1>
                                <div class="vc_empty_space  hidden-xs"  style="height: 70px" >
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="vc_row wpb_row vc_row-fluid animated a_fu fadeInUp wpb_animate_when_almost_visible wpb_none none">
                    <div class="feature-col-pad-right wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4">
                        <div class="vc_column-inner vc_custom_1483289935043">
                            <div class="wpb_wrapper">
                                <div class="vc_empty_space" style="height: 0px" >
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <div class="feature_dsc wow None" data-wow-delay="0.2s" data-wow-duration="1s">
                                    <div class="clearfix">
                                        <span>Новинка:</span>
                                        <p>При наличии редких медалей применяется технология изготовления планки без тканевых лент.</p>
                                    </div>
                                </div>
                                <div class="section_title animated None" data-delay="0.2s">
                                    <div style="color: #333333; font-size: 15px; text-align: left; line-height: 26px; font-weight: 400;">
                                        <p>Также мы предлагаем орденские и медальные планки под прозрачной пленкой. Орденские планки обтянутые пленкой не грязнятся, меньше выцветают и выглядят более эффектно. Орденские и медальные планки с прозрачной пленкой могут быть всех типов крепления.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_single_image wpb_content_element vc_align_left   margin-image">
                                    <figure class="wpb_wrapper vc_figure">
                                        <div class="vc_single_image-wrapper vc_box_border_grey" style="margin-top: 10px;">
                                            <img width="430" height="480" src="img/krepeg_clean.png" class="vc_single_image-img attachment-full" alt="19" srcset="img/krepeg_clean.png 430w, img/krepeg_clean.png 269w" sizes="(max-width: 430px) 100vw, 430px" />
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="feature-col-pad-left wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="single_feature wow None" data-wow-delay="0.2s" data-wow-duration="1s">
                                    <div class="sf_inner">
                                        <h4>Вариант 1:</h4>
                                        <p>Орденские и медальные планки на заколке (булавка).</p>
                                    </div>
                                </div>
                                <div class="single_feature wow None" data-wow-delay="0.2s" data-wow-duration="1s">
                                    <div class="sf_inner">
                                        <h4>Вариант 2:</h4>
                                        <p>Орденские и медальные планки на клипсах-бабочках (иголках).</p>
                                    </div>
                                </div>
                                <div class="single_feature wow None" data-wow-delay="0.2s" data-wow-duration="1s">
                                    <div class="sf_inner">
                                        <h4>Вариант 3:</h4>
                                        <p>Орденские и медальные планки на магнитах (на рубашку, офисную форму).</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>