                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="vc_empty_space"  style="height: 60px" >
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-middle vc_row-flex">
                                    <div class="animated a_fr xs-responsive-no-padding wpb_column vc_column_container vc_col-sm-6">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="vc_empty_space  hidden-xs"  style="height: 30px" >
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                                <h1 class="section_title h1 animated None"	data-delay="0.2s" style="color: #333333; text-align: left; font-weight: 300;">Материалы <br />только высокого качества.</h1>
                                                <div class="vc_empty_space"  style="height: 0px" >
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                                <div class="section_title  animated None" data-delay="0.2s">
                                                    <div style="color: #333333; font-size: 20px; text-align: left; line-height: 34px; font-weight: 300;">
                                                        <p>Основой на которой располагаются медальные и орденские планки, является шинельный материал черного цвета. По желанию заказчика возможен подбор цвета основания планок под кительный материал.</p>
                                                    </div>
                                                </div>
                                                <div class="vc_empty_space"  style="height: 30px" >
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                                <!--
                                                <a href="#" class="home_btn default-btn animated  hvr-shutter-out-horizontal None" data-delay="0s">
                                                    Discover more <i class="fa fa-long-arrow-right"></i>
                                                </a>-->
                                                <div class="vc_empty_space  visible-xs"  style="height: 50px" >
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="animated a_fl wpb_column vc_column_container vc_col-sm-6">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_single_image wpb_content_element vc_align_right">
                                                    <figure class="wpb_wrapper vc_figure">
                                                        <div class="vc_single_image-wrapper vc_box_border_grey">
                                                            <img width="515" height="480" src="img/sukno-shinelnoe.jpg" class="vc_single_image-img attachment-full" alt="20" srcset="img/sukno-shinelnoe.jpg 515w, img/sukno-shinelnoe.jpg 300w" sizes="(max-width: 515px) 100vw, 515px" />
                                                        </div>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>