                <div id="portfolio" class="vc_row wpb_row vc_row-fluid faq_area animated a_fu">
                    <div class="wpb_column vc_column_container vc_col-sm-12" style="margin-top: 10px; margin-bottom: 20px;">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="vc_empty_space" style="height: 80px" >
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <div class="section_title animated None" data-delay="0.2s">
                                    <div style="color: #8c99a6; font-size: 17px; text-align: center; line-height: 26px; font-weight: 300;">
                                        <h2 class="section_title h1 animated   None" data-delay="0.2s" style="color: #333333; text-align: center; font-weight: 300;">Выполненные заказы</h2>
                                    </div>
                                </div>
                                <div class="vc_empty_space" style="margin-top: 20px;" style="height: 15px" >
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <div class="vc_row wpb_row vc_inner vc_row-fluid featured_clients">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="featured_slider">
                                                    <a href="#"><img src="images/slider/slide1.png" alt="slide1"></a>
                                                    <a href="#"><img src="images/slider/slide2.png" alt="slide2"></a>
                                                    <a href="#"><img src="images/slider/slide3.png" alt="slide3"></a>
                                                    <a href="#"><img src="images/slider/slide4.png" alt="slide4"></a>
                                                    <a href="#"><img src="images/slider/slide5.png" alt="slide5"></a>
                                                    <a href="#"><img src="images/slider/slide6.png" alt="slide6"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>