<div id="reviews" class="testimonial_area animated a_fu">
    <div class="vc_col-sm-12 vc_column_container" style="margin-top: 90px; margin-bottom: 40px;">
        <h2 class="section_title h1 animated   None" data-delay="0.2s" style="color: #333333; text-align: center;">Отзывы</h2>
    </div>
    <div class="vc_row">
        <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner vc_custom_1482466340275">
                <div class="wpb_wrapper">
                    <div class="single_tst">
                        <p>Всем привет! Очень люблю маски от Compliment. Радуют приятные цены и большой выбор. Глубоко очищающую маску с зелёной глиной покупаю уже не впервые раз, почти всё в ней нравится. Решила поделиться с вами ощущениями от её использования, а покупать её или нет решайте сами.</p>
                        <div class="tst_author">
                            <div class="tst_img">
                                <img src="images/reviews/foto1.jpg" alt="">
                            </div>
                            <div class="cdtb">
                                <h5>Вася</h5>
                                <span class="cdt">Student, 23 года</span>
                            </div>
                        </div>
                    </div>
                    <div class="vc_empty_space"  style="height: 50px" >
                        <span class="vc_empty_space_inner"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner vc_custom_1482466340275">
                <div class="wpb_wrapper">
                    <div class="single_tst">
                        <p>Кто из нас не любит вкусно поесть? И кто из нас не любит провести вечер за вкусным ужином в уютном месте? И вот как раз такое приятное заведение - кафе с теплым, согревающим названием "Багет, паштет и теплый плед" , расположившееся в центре Ярославля.</p>
                        <div class="tst_author">
                            <div class="tst_img">
                                <img src="images/reviews/foto2.jpg" alt="">
                            </div>
                            <div class="cdtb">
                                <h5>Ээ..забыла</h5>
                                <span class="cdt">Депутат, 99 лет</span>
                            </div>
                        </div>
                    </div>
                    <div class="vc_empty_space"  style="height: 50px" >
                        <span class="vc_empty_space_inner"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner vc_custom_1482466340275">
                <div class="wpb_wrapper">
                    <div class="single_tst">
                        <p>Всем привет! Сегодня расскажу вам о довольно известных румянах от Nyx 22 Toupe. Брала я их себе для контуринга, но увы, отношения с ним не сложились. Пыталась найти к ним подход, но все безрезультатно и спустя пол года мучений я решила написать отзыв.</p>
                        <div class="tst_author">
                            <div class="tst_img">
                                <img src="images/reviews/foto3.jpg" alt="">
                            </div>
                            <div class="cdtb">
                                <h5>Весельчак</h5>
                                <span class="cdt">Актёр, 55 лет</span>
                            </div>
                        </div>
                    </div>
                    <div class="vc_empty_space"  style="height: 50px" >
                        <span class="vc_empty_space_inner"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>