                <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid funfact_area animated a_fu vc_custom_1483243095380 vc_row-has-fill">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner vc_custom_1482418868776" style="padding-top: 0px;">
                            <div class="wpb_wrapper">
                                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1482418859963 vc_row-has-fill">
                                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-8">
                                        <div class="vc_column-inner vc_custom_1483292478369" style="padding-top: 0px;">
                                            <div class="wpb_wrapper text-center">
                                                <div class="vc_empty_space" style="height: 0px" >
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                                <div class="single_fact">
                                                    <div class="h1">
                                                        <a href="http://vk.com/" style="font-size:3em; color:white">
                                                            <i class="fa fa-vk fa-7x"></i>
                                                        </a>
                                                    </div>
                                                    <span>вКонтакте</span>
                                                </div>
                                                <div class="single_fact">
                                                    <div class="h1">
                                                        <a href="http://instagram.com/" style="font-size:3em; color:white">
                                                            <i class="fa fa-instagram fa-7x"></i>
                                                        </a>
                                                    </div>
                                                    <span>Инстаграм</span>
                                                </div>
                                                <div class="single_fact">
                                                    <div class="h1">
                                                        <a href="http://odnoklassniki.ru/" style="font-size:3em; color:white">
                                                            <i class="fa fa-odnoklassniki fa-7x"></i>
                                                        </a>
                                                    </div>
                                                    <span>Одноклассники</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fun-fact-right-text wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <h3 class="section_title h1 animated   None" data-delay="0.2s" style="color: #ffffff; text-align: left; font-weight: 300; margin-top: 5px;">Мы в соцсетях</h3>
                                                <!--
                                                <div class="section_title  animated None" data-delay="0.2s" >
                                                    <div style="color: #ffffff; font-size: 15px; text-align: left; line-height: 26px; font-weight: 400;">
                                                        <p>Spot of come to ever hand as lady meet on. Delicate contempt received two yet advanced. Gentleman as belonging he commanded believing dejection in by.</p>
                                                    </div>
                                                </div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>