                <div class="vc_row wpb_row vc_row-fluid pricing_area">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="vc_empty_space"  style="height: 70px" >
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <h1 class="section_title h1 animated   None" data-delay="0.2s" style="color: #333333; text-align: center; font-weight: 300;">Choose the product<br />that you really need!</h1>
                                <div class="vc_empty_space"  style="height: 60px" >
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="single_price animated a_fu " data-delay="0s" >
                                                    <div class="price_head">
                                                        <div class="h1">Free!</div>
                                                        <p>For 30 Days!</p>
                                                    </div>
                                                    <div class="price_body">
                                                        <ul>
                                                            <li>100+ Free Themes</li>
                                                            <li>Unlimited Disk Creator</li>
                                                            <li>One User Support</li>
                                                            <li>Money Transfer System</li>
                                                            <li>Unlimited Support</li>
                                                        </ul>
                                                        <a href="#" class="default-btn hvr-shutter-out-horizontal">Buy Now</a>
                                                        <span>* No credit card required</span>
                                                    </div>
                                                </div>
                                                <div class="vc_empty_space"  style="height: 50px" >
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="single_price animated a_fu " data-delay="0.2s" >
                                                    <div class="price_head">
                                                        <div class="h1">$20</div>
                                                        <p>for Single User</p>
                                                    </div>
                                                    <div class="price_body">
                                                        <ul>
                                                            <li>100+ Free Themes</li>
                                                            <li>Unlimited Disk Creator</li>
                                                            <li>One User Support</li>
                                                            <li>Money Transfer System</li>
                                                            <li>Unlimited Support</li>
                                                        </ul>
                                                        <a href="#" class="default-btn hvr-shutter-out-horizontal">Buy Now</a>
                                                        <span>* No credit card required</span>
                                                    </div>
                                                </div>
                                                <div class="vc_empty_space"  style="height: 50px" >
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="single_price  active animated a_fu " data-delay="0.5s" >
                                                    <div class="price_head">
                                                        <div class="h1">$49</div>
                                                        <p>For 2 - 10 user</p>
                                                    </div>
                                                    <div class="price_body">
                                                        <ul>
                                                            <li>500+ Free Themes</li>
                                                            <li>Unlimited Disk Creator</li>
                                                            <li>2 &#8211; 10 User Support</li>
                                                            <li>Money Transfer System</li>
                                                            <li>Unlimited Support</li>
                                                        </ul>
                                                        <a href="#" class="default-btn hvr-shutter-out-horizontal">Buy Now</a>
                                                        <span>* No credit card required</span>
                                                    </div>
                                                </div>
                                                <div class="vc_empty_space"  style="height: 50px" >
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="single_price animated a_fu " data-delay="0.9s" >
                                                    <div class="price_head">
                                                        <div class="h1">$79</div>
                                                        <p>For unlimited user</p>
                                                    </div>
                                                    <div class="price_body">
                                                        <ul>
                                                            <li>Unlimited Free Themes</li>
                                                            <li>Unlimited Disk Dreator</li>
                                                            <li>Unlimited User Support</li>
                                                            <li>Money Transfer System</li>
                                                            <li>Unlimited Support</li>
                                                        </ul>
                                                        <a href="#" class="default-btn hvr-shutter-out-horizontal">Buy Now</a>
                                                        <span>* No credit card required</span>
                                                    </div>
                                                </div>
                                                <div class="vc_empty_space"  style="height: 50px" >
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>We don’t have any hidden charge or we don’t make auto-bill to our customers.</p>
                                    </div>
                                </div>
                                
                                <div class="vc_empty_space"  style="height: 65px" >
                                    <span class="vc_empty_space_inner"></span>
                                </div>

                                <div class="vc_empty_space"  style="height: 50px" >
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text">
                                    <span class="vc_sep_holder vc_sep_holder_l">
                                        <span  style="border-color:#d9e3ed;" class="vc_sep_line"></span>
                                    </span>
                                    <span class="vc_sep_holder vc_sep_holder_r">
                                        <span  style="border-color:#d9e3ed;" class="vc_sep_line"></span>
                                    </span>
                                </div>
                                <div class="vc_empty_space"  style="height: 40px" >
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>