                <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid custom-bg-gradient brand_area vc_custom_1482405297815 vc_row-has-fill">
                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-has-fill">
                        <div class="vc_column-inner vc_custom_1482380183708">
                            <div class="wpb_wrapper">
                                <div class="vc_empty_space  fl_sh_space"  style="height: 100px" >
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="brand_slider">
                                                    <div class="single_slide animated a_fu">
                                                        <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
                                                        <div class="c_logo">
                                                            <img src="../../../localhost/wp/one/wp-content/uploads/2016/12/12.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="single_slide animated a_fu">
                                                        <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
                                                        <div class="c_logo">
                                                            <img src="../wp-content/uploads/2016/12/07.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="single_slide animated a_fu">
                                                        <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p>
                                                        <div class="c_logo">
                                                            <img src="../../../localhost/wp/one/wp-content/uploads/2016/12/16.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="single_slide animated a_fu">
                                                        <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p><div class="c_logo">
                                                            <img src="../wp-content/uploads/2016/12/08.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="single_slide animated a_fu">
                                                        <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. mirum est.</p>
                                                        <div class="c_logo">
                                                            <img src="../../../localhost/wp/one/wp-content/uploads/2016/12/07.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="single_slide animated a_fu">
                                                        <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. mirum est.</p>
                                                        <div class="c_logo">
                                                            <img src="../wp-content/uploads/2016/12/15.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="single_slide animated a_fu">
                                                        <p>One of the best product for our daily life. Life is more easy and beautiful by  the touch of the One product.</p>
                                                        <div class="c_logo">
                                                            <img src="../../../localhost/wp/one/wp-content/uploads/2016/12/14.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="single_slide animated a_fu">
                                                        <p>One of the best product for our daily life. Life is more easy and beautiful by  the touch of the One product.</p>
                                                        <div class="c_logo">
                                                            <img src="../wp-content/uploads/2016/12/06.jpg" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_empty_space  fl_sh_space"  style="height: 100px" >
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text">
                                    <span class="vc_sep_holder vc_sep_holder_l">
                                        <span  style="border-color:#d9e3ed;" class="vc_sep_line"></span>
                                    </span>
                                    <span class="vc_sep_holder vc_sep_holder_r">
                                        <span  style="border-color:#d9e3ed;" class="vc_sep_line"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>