                <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid feature-twoboxs wpb_animate_when_almost_visible wpb_none none vc_custom_1483252709621 vc_row-has-fill vc_row-o-content-middle vc_row-flex">
                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-has-fill">
                        <div class="vc_column-inner vc_custom_1483252572743">
                            <div class="wpb_wrapper">
                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-6">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="vid-lightbox-inner homepage-video-icon">
                                                    <a style="font-size: 30px; color: #ffffff; border-color: #ffffff;" 	        				href="https://www.youtube.com/watch?v=WixYDPyHohI" class="fa fa-play vid-play-icon" data-rel="prettyPhoto"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="padding-left-no-responsive-video wpb_column vc_column_container vc_col-sm-6">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="vc_empty_space  video-lightbox-top-space"  style="height: 120px" >
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                                <h1 class="section_title h1 animated a_fu" data-delay="0.2s" style="color: #ffffff; text-align: left; font-weight: 300;">No more complex<br />thing for your product.</h1>
                                                <div class="vc_empty_space"  style="height: 15px" >
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                                <div class="section_title  animated a_fu" data-delay="0.2s" >
                                                    <div style="color: #ffffff; font-size: 20px; text-align: left; line-height: 34px; font-weight: 300;">
                                                        <p>Now for manners use has company believe parlors. Least nor party who wrote while did. Excuse formed is agreed admire so on result parish. Put use set uncommonly announcing and travelling. Allow sweetness direction to as necessary.</p>
                                                    </div>
                                                </div>
                                                <div class="vc_empty_space  hidden-xs"  style="height: 150px" >
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>